<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Landing page</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/cover.css" rel="stylesheet">
</head>

<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand"><a href="/">Cover</a></h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="#">Home</a>
                    <a class="nav-link" href="#">Features</a>
                    <a class="nav-link" href="#">Contact</a>
                </nav>
            </div>
        </header>
        <main role="main" class="inner cover">
            <h1 class="cover-heading">
                <%= boardName%>
            </h1>
            <p class="lead">
                <%=boardDescription%>
            </p>
            <% for(var i=0; i<threads.length; i++) { %>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= threads[i].name%>
                    </h5>
                    <p class="card-text">
                        <%= threads[i].initialPost%>
                    </p>
                    <form action="<%= '/b/'.concat(boardName).concat('/').concat(threads[i].name) %>" method="POST" class="form-signin">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    <p>
                        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button"
                            aria-expanded="false" aria-controls="collapseExample">
                            Edit
                        </a>
                    </p>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            <form action="<%= '/b/'.concat(boardName).concat('/').concat(threads[i].name) %>" method="POST">
                                <input type="hidden" name="name" value="<%= threads[i].name%>" />
                                <input name="initialPost" class="form-control" placeholder="Change Post?" autofocus>
                                <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
            <a href="<%='/b/'.concat(boardName).concat('/newThread') %>" class="btn btn-danger">+</a>
        </main>
        <footer class="mastfoot mt-auto">
        </footer>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery-slim.min.js"><\/script>')</script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>
<script>
</script>